<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Customer Lists</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: #BBE0F2;
            height: 100vh;
            display: flex;
            justify-content: center;
            padding: 10px;
        }
    </style>

</head>

<body>

    <div class="customer-container">

        <!-- Header -->
        <div class="customertop-bar">

            <button class="back" onclick="goHome()">
                <i class="fa-solid fa-angle-left back"></i>
            </button>

            <h2>Customer Lists</h2>

        </div>

        <!-- Column -->
        <div class="customertable-header">
            <div>#</div>
            <div>Name</div>
            <div>Email</div>
            <div></div>

        </div>

        <!-- Scroll Area -->
        <div id="list" class="list">
            <th:block th:each="customer, num : ${customers}">
                <div class="customer-row">
                    <div th:text="${num.count}"></div>
                    <div th:text="${customer.username}">${customer.username}</div>
                    <div th:text="${customer.email}">${customer.email}</div>
                    <div>
                        <form th:action="@{/admin/deleteUser/{id}(id=${customer.id})}" method="post"
                            onsubmit="return confirm('Are you sure to delete this customer?')">
                            <button class="delete">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>

                    </div>
                </div>
            </th:block>
        </div>

    </div>

    <script>
        function goHome() {
            window.location.href = "/admin/home";
        }
    </script>

</body>

</html>