<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <style>
        body{
                min-height:100vh;
                background:#BBE0F2;
                display:flex;
                justify-content:center;
                align-items:center;
                padding:4vw;
            }
    </style>
</head>

<body>

<div class="dashboard">

    <div class="card" onclick="goPage('/admin/customer_list')">
        <span class="material-icons icon">groups</span>
        <h2>Total Customers</h2>
    </div>


    <div class="card" onclick="goPage('/admin/menu_list')">
        <span class="material-icons icon">menu_book</span>
        <h2>Total Menus</h2>
    </div>


    <div class="card" onclick="goPage('/admin/resturantlist')">
        <span class="material-icons icon">notifications_active</span>
        <h2>Notifications</h2>
    </div>


    <div class="card" onclick="goPage('/admin/rider_list')">
        <span class="material-icons icon">delivery_dining</span>
        <h2>Total Riders</h2>
    </div>

</div>

<div th:replace="~{includes/admin/partial :: menu_bar}"></div>


<script>
function goPage(page){
    window.location.href = page;
}
</script>

</body>
</html>