<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/noti.css}">
</head>
<body>
    <!-- 💡 1. Notification အသံအတွက် Audio Tag (mp3 ဖိုင်ကို static/audio/ ထဲ ထည့်ထားပါ) -->
<!-- <audio id="notiSound" src="/audio/notification.mp3" preload="auto"></audio> -->


<div class="container mt-4">
    <h2>New Orders</h2>
    
    <div id="noti">
        
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/admin/noti.js}"></script>
</body>
</html>