<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/noti.css}">
</head>

<body>

    <div class="container mt-4">
        <button class="back" onclick="goToPage('/admin/home')">
            <i class="fa-solid fa-angle-left back"></i>
        </button>
        <h2>New Orders</h2>

        <div id="noti">

        </div>
        <div class="no-result-container">
            <p th:if="${orders == null or #lists.isEmpty(orders)}" id="no-result">No new orders</p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/admin/noti.js}"></script>
</body>

</html>