<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delivery Rider - Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/rider.css}">
</head>
<body>
  
  <div class="menu">
    <button class="menu-card" onclick="goToPage('/rider/notifications')">
      <img th:src="@{/images/NotiIcon.png}" alt="Notifications" class="icon">
      <span>Notifications</span>
    </button>
    <button class="menu-card" onclick="goToPage('/rider/orders')">
      <img th:src="@{/images/OrderIcon.png}" alt="Orders" class="icon">
      <span>Orders</span>
    </button>
  </div>
  <form th:action="@{/logout}" method="post">
    <button class="logout-btn">Log out</button>
  </form>
  
  <script th:src="@{/js/rider.js}"></script>
</body>
</html>
