<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Notifications</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="rider-id" th:content="${riderId}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/rider.css}">
</head>

<body>
  <button class="back-btn" onclick="goToPage('/rider/home')">
    <i class="fa-solid fa-angle-left back"></i>
  </button>
  <h2>New Deliveries</h2>

  <!-- Noti Card Container -->
  <div id="noti-container">

    <div th:each="order : ${orders}" class="delivery-card" th:id="'assigned-order-' + ${order.id}">
      <div class="card-body">
        <p><strong>Order ID: </strong><span th:text="'#' + ${#numbers.formatInteger(order.id, 3)}">#001</span></p>
        <p><strong>Customer Name:</strong> <span th:text="${order.cusName != null ? order.cusName : 'N/A'}">Customer</span></p>
        
        <p><strong>Phone:</strong> 
          <a th:href="'tel:' + ${order.phone}" 
             style="color: #007bff; font-weight: bold; text-decoration: none;" 
             th:text="${order.phone}"></a>
        </p>
        <p><strong>Total amount:</strong> <span th:text="${#numbers.formatInteger(order.totalAmount, 0, 'COMMA')} + ' MMK'"></span></p>

        <p><strong>Status:</strong> <span style="color: orange;" th:text="${order.status}">PREPARING</span></p>

        <button class="btn-map" th:onclick="|viewOrderOnMap('${order.id}')|">
          🗺️ View Map
        </button>

      </div>
    </div>

  </div>

  <!-- 1. SockJS Library -->
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

  <!-- 2. STOMP Client Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

  <!-- 3. Rider Custom JS -->
  <script th:src="@{/js/rider/rider.js}"></script>
</body>

</html>