<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Delivered Orders</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="rider-id" th:content="${riderId}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/rider.css}">
</head>

<body>
  <button class="back-btn" onclick="goToPage('/rider/home')">
    <i class="fa-solid fa-angle-left back"></i>
  </button>
  <h2>Order List</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Total Amount</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <th:block th:each="order: ${orders}">
          <tr>
            <td th:text="'#' + ${#numbers.formatInteger(order.id, 3)}"></td>
            <td th:text="${#temporals.format(order.createdAt, 'dd MMM yyyy, hh:mm a')}"></td>
            <td th:text="${#numbers.formatInteger(order.totalAmount, 0, 'COMMA')} + ' MMK'"></td>
            <td th:text="${order.status}"></td>
          </tr>
        </th:block>
      </tbody>


    </table>
    <p th:if="${orders == null or #lists.isEmpty(orders)}" id="no-result">No result found</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script th:src="@{/js/rider/rider.js}"></script>
</body>

</html>