<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <input type="text" name="username" id="username" placeholder="Name" th:field="*{username}">
        <span th:if="${nameError}" th:text="${nameError}"></span><br><br>

        <input type="email" name="email" id="email" placeholder="Email" th:field="*{email}">
        <span th:if="${emailError}" th:text="${emailError}"></span><br><br>

        <input type="password" name="password" id="password" placeholder="Password" th:field="*{password}">
        <span th:if="${passwordError}" th:text="${passwordError}"></span><br><br>

        <button type="submit">Register</button>

        <a href="/login">login</a>
    </form>
</body>
</html>