<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/customer/home.css}">
    <link rel="stylesheet" th:href="@{/css/customer/homemenu.css}">
    <link rel="stylesheet" th:href="@{/css/customer/nav.css}">

</head>

<body>

    <!-- <div class="food-card">
        <img src="drink4.jpg">
        <h3>Double Beef Burger</h3>
        <p class="price">9670</p>
        <button class="cart-btn" onclick="addToCart('Double Beef Burger',9670,'drink4.jpg')">
            Add to Cart
        </button>

        
    </div> -->


    <section class="popular-menu">
    <h4>OUR MENU</h4>
    <h1>The Most Popular</h1>

    <div class="menu-container">

        <!-- Food Card -->
        <div class="food-card">
            <img src="images/dumpling.jpg" alt="Burger">
            <h2>Double Beef Burger</h2>
            <p class="price">2000</p>
            <button class="cart-btn" onclick="addToCart('Double Beef Burger',9.67,'images/dumpling.jpg')">
                Add to Cart
            </button>
        </div>

        <div class="food-card">
            <img src="images/dumpling1.jpg" alt="Pizza">
            <h2>Veggie Pizza</h2>
            <p class="price">4000</p>
            <button class="cart-btn" onclick="addToCart('Dumpling',10.99,'images/dumpling1.jpg')">
                Add to Cart
            </button>
        </div>
        <div class="food-card">
            <img src="images/eggroll.jpg" alt="Pizza">
            <h2>Veggie Pizza</h2>
            <p class="price">3500</p>
            <button class="cart-btn" onclick="addToCart('Egg Roll',10.99,'images/eggroll.jpg')">
                Add to Cart
            </button>
        </div>
        <div class="food-card">
            <img src="images/eggroll1.jpg" alt="Pizza">
            <h2>Veggie Pizza</h2>
            <p class="price">4000</p>
            <button class="cart-btn" onclick="addToCart('Egg Roll1',10.99,'images/eggroll1.jpg')">
                Add to Cart
            </button>
        </div>
        <div class="food-card">
            <img src="images/eggroll2.jpg" alt="Pizza">
            <h2>Veggie Pizza</h2>
            <p class="price">3000</p>
            <button class="cart-btn" onclick="addToCart('eggroll2',10.99,'images/eggroll2.jpg')">
                Add to Cart
            </button>
        </div>
        


        <div class="food-card">
            <img src="images/eggroll3.jpg" alt="Chicken">
            <h2>Fried Chicken</h2>
            <p class="price">1500</p>
            <button class="cart-btn" onclick="addToCart('eggroll3',13.45,'images/eggroll3.jpg')">
                Add to Cart
            </button>
        </div>

        <div class="food-card">
            <img src="drink5.jpg" alt="Roll">
            <h2>Chicken Roll</h2>
            <p class="price">2000</p>
            <button class="cart-btn" onclick="addToCart('Chicken Roll',7.50,'images/roll.png')">
                Add to Cart
            </button>
        </div>

    </div>
</section>


    <div th:replace="~{includes/customer/partial :: menubar}"></div>

    <script th:src="@{/js/customer/menulist.js}"></script>
</body>
</html>