<!DOCTYPE html>
<html lang="my" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus</title>
        <!-- <link rel="stylesheet" href="home.css"> -->


    <link rel="stylesheet" th:href="@{/css/customer/menulist.css}">
    <link rel="stylesheet" th:href="@{/css/customer/nav.css}">
    <style>
        * { box-sizing: border-box; margin: 0; padding: 0; }
        /* body { font-family: sans-serif; padding: 20px; background-color: #BBE0F2; } */
        body {
            font-family: sans-serif;
            padding: 20px;
            background-color: #BBE0F2;
            overflow: hidden;
            }

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
<main id="main-content">
<div class="menu-container">
    <header>
        <h1>Menus</h1>
    <div class="header-right">
        <!-- <span class="back-icon" onclick="history.back()">&times;</span> -->
        <!-- <button class="add-menu-btn" onclick="window.location.href='addMenutest.html'">Add menu</button> -->
    </div>
    </header>

    <h2>Foods</h2>
    <section class="menu-section" id="foodsection">
        <div class="scroll-container">
            <div class="grid-menu" id="foodGrid">
                <div class="menu-item" th:each="food : ${foods}">
                    <div class="img-placeholder"><img th:src="${food.image}" width="100" height="auto" loading="lazy"></div>
                    <p class="name" th:text="${food.name}">Dumpling</p>
                    <p class="price" th:text="${#numbers.formatInteger(food.price, 0, 'COMMA')} + ' MMK'">3000</p>
                    <button class="cart-btn" th:onclick="addToCart([[${food.name}]], [[${food.price}]], [[${food.image}]])">Add To Cart</button>
                </div>  
            </div>
        </div>
    </section>

    <h2>Drinks</h2>
    <section class="menu-section" id="drinksection">
        
        <div class="scroll-container">
            <div class="grid-menu" id="drinkGrid">
                <div class="menu-item" th:each="drink : ${drinks}">
                    <div class="img-placeholder"><img th:src="${drink.image}" width="100" height="auto" loading="lazy"></div>
                    <p class="name" th:text="${drink.name}">Bubble Tea</p>
                    <p class="price" th:text="${#numbers.formatInteger(drink.price, 0, 'COMMA')} + ' MMK'">3000</p>
                    <button class="cart-btn" th:onclick="addToCart([[${drink.name}]], [[${drink.price}]], [[${drink.image}]])">Add To Cart</button>
                </div>            
            </div>
        </div>
    </section>
</div>

    <div th:replace="~{includes/customer/partial :: menubar}"></div>
    <!-- 1. SockJS Library -->
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

<!-- 2. STOMP Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:src="@{/js/customer/menulist.js}"></script>
</main>
</body>
</html>