<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main id="main-content">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GoBite Profile</title>

        <link rel="stylesheet" th:href="@{/css/customer/profile.css}">
        <!-- <link rel="stylesheet" href="css/customer.css"> -->
        <link rel="stylesheet" th:href="@{/css/customer/nav.css}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">



        <div class="profile-container">

            <div class="profile-card">

                <img th:src="@{/images/profile.jpg}" class="profile">

                <h2 th:text="${user.username}">User</h2>

                <p th:text="${user.email}">user@example.com</p>

                <!-- <button>Edit Profile</button> -->

            </div>

            <div class="menu-profile">

                <div class="item-profile" th:onclick="|goToPage('/customer/orders/${user.id}')|">
                    <i class="fa-solid fa-box"></i>
                    <span>Order History</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>

            </div>

            <form th:action="@{/logout}" method="post" onclick="localStorage.removeItem('cart')">
                <button class="logout" type="submit">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </button>
            </form>
        </div>


        <div th:replace="~{includes/customer/partial :: menubar}"></div>

    </main>
    <script>
        function goToPage(page){
            window.location.href = page;
        }
    </script>
</body>

</html>