<nav class="bottom-nav" th:fragment="menu_bar">
        <a href="/admin/order_list">
            <span class="material-symbols-outlined" id="order">order_approve</span>
            <!-- <span>Home</span> -->
        </a>

        <a href="/admin/home">
            <span class="material-symbols-outlined">food_bank</span>
        </a>

        <a href="/admin/profile">
            <span class="material-symbols-outlined">account_circle</span>
            <!-- <span>Profile</span> -->
        </a>
</nav>