nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:70px;
    background:#750608;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-radius: 15px 15px 0 0;
    /* background: rgba(133, 22, 22, 0.25); */
    /* backdrop-filter: blur(12px); */
}

nav a{
    color:#FFF8E7;
    font-size:24px;
    text-decoration:none;
    transition: transform 0.25s ease;
}

nav a:hover{
    transform: scale(1.1);  
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    
}

.active{
    color:#df9798;    
    display:flex;
    align-items:center;
    justify-content:center;
}